.sign-in {
  width: 380px;
  // 30wv: 30% of the total view width
  display: flex;
  flex-direction: column;

  .title{
    margin: 10px 0px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
